<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- API Server URL, required -->
    <!-- For production site use: https://api.ebay.com/wsapi -->
    <!-- For Sandbox site use: https://api.sandbox.ebay.com/wsapi -->
    <add key="Environment.ApiServerUrl" value="https://api.ebay.com/wsapi"/>
    <!-- User token for API server access, required -->
    <add key="UserAccount.ApiToken" value="AgAAAA**AQAAAA**aAAAAA**7wERWA**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6wDl4WjCZmApwmdj6x9nY+seQ**3nUDAA**AAMAAA**nDwkIFbOTLeLrvW7XxkxZvkoGFt6LcTgt9fB6NIYSz3tkUUAv1lf6yg7qTTSO1OSHj8FrfeiS/43JENHriebtgnAOaQSLhko4XC3ko6Cpb4g/sKZ12B36h9DNkAMv2PCXW3l/zazDP12u443lC+86diaOc5NLCwJIbLeLFq1+TsuIMjcgW7XMjZod8zXyuy6nPN3EWGWNbncB62Hj84iAW8B1dfulliSlSifxa05Bc0uCN+ZK83ZT8fmyb6HMscj/MAhXBtArKBThW6r+QNNUbNRJeAMIFHHbJUxF900FLGCE2iXoUjULnV0fPDbxaysXpJX/vM+ZSPdTM2tWfWE3dAHuqnmO02zcKBqHP7CjjCfLOSc9YPhD7FnnOjdNKyD6xvFkcpvwZOmqXuzUkNkSM2bpPYlV6edyNqKX49hJeo1LJcG08X5edjIvxBF4mq9WbrJjDWFZeQvaXp7vh8jQKMx3qHbdrnajXq8fQRJim5VBw3Ex7hhPynIbWsgXYqydeEz8CeHb1uy+NQmh+l99iUaw85UxPYWL6W+j6XCp2kjuKrWbOrIw/HnGJHPfSUrsNBe1Ft/F8+G1I5aONKVmbQBRnWka3W2JJgde0bWTfrdNSQQAmtIPCHDSfM8ujyFlBpN2DkUl20BEHdpOTyZiugpiKAa7QPiJy5kW3fzuuZ7rB2+EgfXG4HE/vOFrpDP1tnpqZP07TyxLdCJlyk6S9AWKaByt1VfID5YOTU01dP8NZ6HDSGGPg8PHu70XR9T"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
